﻿@model PuebloPelicula.ViewModels.PelisViewModel


@{
    ViewBag.Title = "Details";
}

<h2>Detalles de la Película:  @Html.DisplayFor(model => model.Pelicula) </h2>




<div>

    <dd>
        <img src="~/Imagenes/Peliculas/@Model.Foto" height="500" alt="imagen-peli" />
    </dd>

    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracion)
        </dd>


        @if (Model is PuebloPelicula.Models.PeliComercial)
        {
            <h1>Es peli comercial</h1>
            <dt>
                @Html.DisplayNameFor(model => model.Actores)
            </dt>
        }

        @if (Model is PuebloPelicula.Models.PeliDocumental)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Tema)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EnExhibicion)
            </dd>
        }


        <dt>
            @Html.DisplayNameFor(model => model.EnExhibicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnExhibicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sinopsis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sinopsis)
        </dd>



    </dl>



</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la Lista", "Index")
</p>
