﻿@model PuebloPelicula.ViewModels.PelisViewModel
@using PuebloPelicula.Models


@{
    ViewBag.Title = "Pelis";

}

<h2>Pelis</h2>
@using (Html.BeginForm())
{
    <p class="form-group">
        <b>Buscar Peli: </b>@Html.TextBox("Busqueda", null, new { @class = "form-control" }) <br />
        <input type="submit" value="Búsqueda" class="btn btn-primary" />

        @Html.ActionLink("Mostrar todas las pelis", "Index", "Peliculas", null, new { @class = "btn btn-success" })
    </p>
}

@using (Html.BeginForm())
{
    <p>
        <b>Elegir Cine: </b>@Html.DropDownList("CineElegido", "Todos")
        <input type="submit" value="Buscar por cine" class="btn btn-warning" />
    </p>
}




@foreach (var peli in Model.Pelicula)
{
    @*if (peli.GetType().Name.Contains("PeliDocumental"))
        {
            <h3>Documental</h3>
        }
        if (peli.GetType().Name.Contains("PeliComercial"))
        {
            <h3>Comercial</h3>
        }*@


    <tr>

        <td>
            <h3>
                Peli:


                @Html.DisplayFor(modelItem => peli.Titulo)

                @if (peli.GetType().Name.Contains("PeliDocumental"))
                {
            <td>(Documental)</td>
        }
                @if (peli.GetType().Name.Contains("PeliComercial"))
                {
                    <td>(Comercial)</td>
                }

                </h3>
                </td>


            </tr>
            <tr>

                <td width="1">
                    <a href='@Url.Action("Details", new {id = peli.ID})'>
                        <img src="~/Imagenes/Peliculas/@peli.Foto" alt="foto-peli" height="10%" />
                    </a>
                </td>
            </tr>

        }




