﻿@{
    ViewBag.Title = "Administración de Cartelera";
}

<h3>@ViewBag.Message</h3>




<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Agregar Película Comercial", "Create", "PelisComerciales")</li>
        <li>@Html.ActionLink("Agregar Película Documental", "Create", "PelisDocumentales")</li>

        <li>@Html.ActionLink("Funciones", "Index", "Funciones")</li>
        <li>@Html.ActionLink("Cines", "Index", "Cines")</li>
        <li>@Html.ActionLink("Salas", "Index", "Salas")</li>

    </ul>

</div>


