﻿@model PuebloPelicula.Models.PeliDocumental

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">

        <div style="float:center">
            <img src="~/Imagenes/Peliculas/@Model.Foto" height="700" alt="poster" />
        </div>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracion) minutos
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Sinopsis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sinopsis)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Tema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funciones)
        </dt>
        <dd>
            @foreach (var item in Model.Funciones)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Sala.NombreSala)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Horario)
                    </td>

                </tr><br />
            }
        </dd>
        @if (Request.IsAuthenticated)
        {
            <td>
                @Html.ActionLink("Borrar la película", "Delete", new { id = Model.ID })
            </td>

        }

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index", "Peliculas")
</p>
