﻿@model PuebloPelicula.Models.PeliComercial

@{
    ViewBag.Title = "Borrar película";
}

<h2>Borrar película</h2>

<h3>Seguro querés borrar la peli @Html.DisplayFor(model => model.Titulo) ?</h3>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Borrar" class="btn btn-default" /> |

        @Html.ActionLink("Volver", "Index", "Peliculas")
    </div>
    }
</div>
