﻿@model PuebloPelicula.Models.Funcion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Funcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pelicula.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pelicula.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sala.NombreSala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sala.NombreSala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FuncionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
