﻿@model IEnumerable<PuebloPelicula.Models.Funcion>

@{
    ViewBag.Title = "Funciones";
}

<h2>Funciones</h2>

<p>

    @Html.ActionLink("Agregar nueva función", "Create")
</p>




<table class="table">
    <tr>
        <th>
            Película
            @*@Html.DisplayNameFor(model => model.Pelicula.Titulo)*@
        </th>
        <th>
            Sala
            @*@Html.DisplayNameFor(model => model.Sala.NombreSala)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pelicula.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sala.NombreSala)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horario)
        </td>

    </tr>
}

</table>
