﻿@model PuebloPelicula.Models.Sala

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sala</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cine.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cine.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreSala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreSala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaHD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaHD)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SalaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
