﻿@model IEnumerable<PuebloPelicula.Models.Sala>

@{
    ViewBag.Title = "Salas";
}

<h2>Salas</h2>



<table class="table">
    <tr>
        <th>
            Cine
            @*@Html.DisplayNameFor(model => model.Cine.Nombre)*@
        </th>
        <th>
            Sala
            @*@Html.DisplayNameFor(model => model.NombreSala)*@
        </th>
        <th>
            HD
            @*@Html.DisplayNameFor(model => model.SalaHD)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cine.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreSala)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaHD)
        </td>
        <td>
          

            @Html.ActionLink("Borrar todas las funciones de esta sala", "BorrarTodas", new { id = item.SalaID })

        </td>

    </tr>
    }

</table>
